<p>
	You deposited <%= @deposit_amount %> Cloudcoins to account <%= @bitshares_account %> on Bitshares
</p>
<p>
	Login in to Bitshares: <a href="https://wallet.bitshares.org/">Bitshares Wallet</a>
</p>
<p>
	Thank you
	Cloud Coin Team
</p>