<p>
	Hello <%= @username %>,
</p>
<p>
	You have received <%= pluralize(@withdraw_amount, "Cloudcoin") %>. They are attached to this email. Please POWN them immediately.
</p>
<p>
	Thank you <br>
	Cloudcoin Team
</p>