<p>
	Dear <%= @username %>,	
</p>

<p>
	Attached are <%= pluralize(@withdraw_amount, "CloudCoin") %> that you have ordered sent to you by transfering Bitshares CLOUDCOIN tokens to the CloudCoin account. 
</p>

<p>
	In traditional monetary systems, the people who "have" the money own it.
</p>

<p>
	With CloudCoins, the people that "know" the money own it. CloudCoins use a new technology called RAIDA that does what Bitcoin's Blockchain does, only much better.
</p>

<p>
	In order to own these coins you must pown (password own - change all the internal authenticity numbers ) so only you have them.
</p>

<p>
	This requires software to contact the RAIDA and change. You can find software by going to <a href="https://CloudCoinConsortium.com/use.html">https://CloudCoinConsortium.com/use.html</a>	
</p>

<p>
	The newest software is usually the best. You can watch videos on how to use the software by looking for the links on the same page.
</p>

<p>
	Let us know if you have any questions or concerns. CloudCoins have only been in circulation for a few months and you are one of the first people to use it. 
</p>

<p>
	Support:<br>
	Customer Service:<br>
	Open 9am to 11pm California Time (PST).<br>
	1 (530) 762-1325<br>
	CloudCoinSupport@Protonmail.com (secure if you also have protonmail)
</p>

<p>
	If you accidentally destroy or lose your Cloudcoins, they can be recovered in two years.
</p>

<p>
	http://Lost.CloudCoin.online
</p>

<p>
	Thanks Again!<br>
	Sean
</p>
