<% title "Withdraw from BitShares" %>
<main>
  <section id="section-main">
    <div class="w800">
      <div class="t-wrapper">
        <div class="section-graphic">
          <%= image_tag("upload.svg", size: "128x128", alt: "Upload") %>
        </div>

        <h5 class="title">Withdraw CloudCoins from your BitShares Wallet</h5>
      </div>
      <hr>
      <p class="mt-4">You can watch our video that details all the steps:</p>

      <div class="youtube-player" data-id="EWLmD7oeS5w" data-related="0" data-control="1" data-info="1" data-fullscreen="1" style="">
        <img src="//i.ytimg.com/vi/EWLmD7oeS5w/maxresdefault.jpg" alt="Play Video" class="thumbnail">
        <div class="play-btn"></div>
      </div>

    </div>
  </section>
</main>