<footer class="page-footer">
  <div class="info">
    <div>© 2018 Copyright:<a href="#">CloudCoin</a></div>
  </div>
  <div class="social-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</footer>