<footer class="page-footer">
  <div class="info">
    <div>© 2018 Copyright:<a href="https://cloudcoin.global/">CloudCoin</a></div>
  </div>
  <div class="social-links">
    <a href="https://www.facebook.com/cloudcoinconsortium/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.youtube.com/channel/UCaqzThYCTyFS6pFYw4uMYSg/videos"><i class="fab fa-youtube"></i></a>
  </div>
</footer>