<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "cc_logo.png", size: "30x30", class: "d-inline-block align-top", alt: "CloudCoin" %>
      CLOUDCOIN    
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="site-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Deposit to BitShares <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" data-title="Coming Soon">Withdraw from BitShares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" data-title="Coming Soon">Stack File Checker</a>
        </li>
      </ul>
      <div class="nav-right">
      <button type="button" class="btn btn-light animated pulse delay-5s" data-toggle="modal" data-target="#videoModal" id ="videoModalShowButton">
  How to upload?
      </button>
      <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="videoModalLabel">Exchange CloudCoins for Bitshares CLOUDCOIN tokens</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
              <iframe src="https://www.youtube.com/embed/FeaznLY9LUk" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </nav>
</header>