@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: "Fira Sans", "Helvetica Neue", sans-serif;
  color: #191919;
  margin: 0px;
}
main {
  flex: 1;
}
/*////////////////////////////////*/
header {
  padding: 1em;
  background: #338fff;
  color: white;
  font-size: 1.667em;
  text-transform: uppercase;
}
.upload-bitshares {
  width: 80%;
  max-width: 800px;
  margin: 1em auto;
}
.upload-bitshares h1 {
  font-family: "Fira Sans", "Helvetica Neue", sans-serif;
  font-size: 2.444em;
  text-transform: uppercase;
  /*   font-weight: bold; */
  letter-spacing: 0.09em;
  line-height: 1.667;
  margin: 1em 0;
}

.steps {
  font-size: 1.33em;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #999;
}
.steps b {
  font-weight: 700;
  color: #191919;
}

.form-container,
.table-container {
  padding: 1.667em 0;
}
.form-inner {
}
.form-inner .field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-inner > .field:not(:last-child),
.tfield:not(:last-child) {
  margin-bottom: 1.25em;
}
.form-inner > .field label,
.tfield > .col1 {
  padding: 8px 8px 8px 0;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  flex: 1 0 120px;
  max-width: 220px;
}
.form-inner > .field label + *,
.tfield > .col1 + * {
  flex: 1 0 220px;
}
.field input[type="text"],
.field input[type="email"],
.field > .field textarea,
.field input[type="file"],
.tfield > .col2 {
  padding: 15px;
  border: 2px solid #191919;
  border-radius: 4px;
  outline: none;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
}
.form-inner .field input:not([type="checkbox"]):focus,
.form-inner .field textarea:focus {
  border: 2px solid #338fff;
}
.form-inner > .field input[type="file"] {
  border: none;
  cursor: pointer;
}

.tfield > .col2 {
  border-style: none;
  font-family: "Inconsolata", monospace;
  font-size: 1.33em;
}
.btn {
  /*   width: 100%; */
  border-radius: 4px;
  margin-top: 1em;
  cursor: pointer;
  text-transform: uppercase;
  background: #338fff;
  color: #fff;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  display: inner-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.09em;
  padding: 1em;
  border: 1px solid #007bff;
}
.btn:hover {
  /*   background: white;
  color: #338fff;;
  border: 1px solid #338fff; */
  background: #007bff;
}

/*/////////////////////*/
.alert {
  margin-top: 2em;
  line-height: 1.667em;
  padding: 1.667em;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}
.notice {
  margin-top: 2em;
  line-height: 1.667em;
  padding: 1.667em;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
}

.notify p {
  padding-top: 1.667em;
  line-height: 1.667;
}

footer {
  margin-top: 2.444em;
  padding: 2.444em;
  background: #338fff;
  color: white;
  text-align: center;
}
